<div class="backdrop"></div>
<header class="main-header">
	<button id="side-menu-toggle">Menu</button>
	<nav class="main-header__nav">
		<ul class="main-header__item-list">
			<li class="main-header__item">
				<a class="<%= path === '/explorer' ? 'active' : '' %>" href="/explorer">OS Explorer</a>
			</li>
			<li class="main-header__item">
				<a class="<%= path === '/landranger' ? 'active' : '' %>" href="/landranger">OS Landranger</a>
			</li>
			<li class="main-header__item">
				<a class="<%= path === '/pen' ? 'active' : '' %>" href="/pen">Pens</a>
			</li>
			<li class="main-header__item">
				<a class="<%= path === '/ink' ? 'active' : '' %>" href="/ink">Ink</a>
			</li>
			<li class="main-header__item">
				<a class="<%= path === '/admin/items' ? 'active' : '' %>" href="/admin/products">Admin
				</a>
			</li>
		</ul>
	</nav>
</header>

<nav class="mobile-nav">
	<ul class="mobile-nav__item-list">
			<li class="mobile-nav__item">
				<a class="<%= path === '/' ? 'active' : '' %>" href="/">Maps</a>
			</li>
			<li class="mobile-nav__item">
				<a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin
				</a>
			</li>
		</ul>
</nav>
