<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= item.map_title %></h1>
            <hr>
            <div>
                <img src="<%= item.map_image %>" alt="<%= item.map_title %>">
            </div>
            <h2><%= item.main_settlements %></h2>
            <p><%= item.publish_date %></p>
            <%- include('../includes/add-to-cart.ejs') %>
        </main>
        <%- include('../includes/end.ejs') %>